@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Paytone+One&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #7783ee;
  --color-secondary: #473493;
  --color-accent: #fff7c2;
  --color-background: #0a0a0a;
  --color-text: #f2eaea;

  --font-title: "Paytone One", sans-serif;

  --shadow-box: 4px 4px 15px -5px #fff7c2;

  --shadowTitlePrimary: 1px 1px 2px #7783ee;
}

.shadowTitlePrimary {
  text-shadow: 4px 4px 5px #7783ee;
}

.bg-pattern {
  background-image: url("@/assets/images/background-pattern.jpg");
  background-repeat: repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: auto;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--color-secondary) !important;
}

.swiper-pagination-bullet {
  background-color: var(--color-secondary) !important;
  opacity: 0.8 !important;
  width: 12px !important;
  height: 12px !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-accent) !important;
  opacity: 1 !important;
  width: 14px !important;
  height: 14px !important;
}
